body{
    background-image: url("../images/foodbackground1.jpg");
    background-size:cover;
    text-shadow: 2px 2px #000000;
    font-size:25px;
    font-family: 'Baloo Bhaijaan', cursive;
}
h1 {
    margin:auto;
    color:white;
}

#qField{
    margin:auto;
    color:yellow;
}

#timer{
    margin:auto;
    color:red;
}